.field {
    color: get-color('dark');
    label {
        @include apply-utility('weight', 'bold');
        &::after {
            content: '\A';
            white-space: pre;
        }
    }
    input,
    textarea {
        display: inline-block;
        line-height: 1.1;
        font: inherit;
        border: $stroke-width solid get-color('dark');
        background: get-color('white');
        color: get-color('dark');
        padding: 0.8rem;
        min-width: 15rem;
        &:focus {
            outline: $stroke-width solid get-color('tertiary');
            outline-offset: -$stroke-width;
        }
    }
    textarea {
        width: 100%;
        max-width: 40rem;
        &:not([rows]) {
            min-height: 10rem;
        }
    }
}

input[type="text"] {
    padding: 0.65em;
}