.heading {
    font-size: get-size('800');
    &[data-type='secondary'] {
        font-size: get-size('700');
    }
    &[data-type='tertiary'] {
        font-size: get-size('700');
        font-style: italic;
    }
    // Only applies the serif style to primary and secondary headings
    // &:not([data-type='tertiary']) {
    //     @include apply-utility('font', 'serif');
    // }
    @include media-query('md') {
        font-size: get-size('1000');
        &[data-type='secondary'] {
            font-size: get-size('900');
        }
        &[data-type='tertiary'] {
            font-size: get-size('800');
        }
    }
    @include media-query('lg') {
        font-size: get-size('major');
        &[data-type='secondary'] {
            font-size: get-size('1000');
        }
    }
}

h1 {
    font-size: get-size('1000');
}

h2 {
    font-size: get-size('900');
    color: get-color('primary')
}

h3 {
    font-size: get-size('800');
    color: get-color('primary')
}

h4 {
    font-size: get-size('700');
    color: get-color('dark')
}

h5 {
    font-size: get-size('600');
    color: get-color('dark')
}

h6 {
    font-size: get-size('500');
    color: get-color('dark')
}

.wrapper {
    h2:first-of-type {
        padding: get-size('400') 0 0;
    }
}

.pageTitle {
    background: get-color('lt-gray');
    position: relative;
    &:before {
        position: absolute;
        z-index: 0;
        width: 60%;
        bottom: 0;
        right: -20%;
        content: "";
        height: 100px;
        background-position: bottom center;
        background-size: 100%;
        background-image: url('/images/logos/triangle-pattern-page-title-bg.png');
        background-repeat: no-repeat;
    }
    h1 {
        display: inline-block;
        background: get-color('primary');
        color: get-color('white');
        padding-right: 50px;
        z-index: 5;
        position: relative;
        &:before {
            position: absolute;
            transform: translate(-50%, 0);
            left: -270%;
            right: 100%;
            bottom: 0;
            height: 100%;
            width: 400%;
            z-index: -1;
            content: '';
            background-color: get-color('primary');
            transform: skew(-30deg);
        }
    }
}