.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: get-color('dark');
    text-transform: uppercase;
    @include apply-utility('weight', 'bold');
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    // Tiny gap for where gap isn't supported
    li {
        // margin: 0.05rem;
        border-left: 2px solid get-color('primary');
        &:last-child {
            a {
                background: get-color('primary');
                span {
                    color: get-color('white');
                }
            }
            &:hover {
                a {
                    background: lighten( get-color('primary'), 10%);
                    span {
                        color: get-color('white');
                    }
                }
            }
        }
    }
    a {
        text-decoration: none;
        padding: 0 1em;
        display: block;
        height: 60px;
        line-height: 60px;
        &:hover,
        &[aria-current='page'] {
            background: get-color('black');
            span {
                color: get-color('white');
            }
        }
        span {
            -moz-transform: skew(30deg);
            -ms-transform: skew(30deg);
            -webkit-transform: skew(30deg);
            transform: skew(30deg);
            font-size: 1.25em;
            display: inline-block;
        }
    }
}