@import 'reset';
@import 'config';
@import '../../node_modules/gorko/gorko.scss';
body {
    color: get-color('dark');
    background: get-color('white');
    // @include apply-utility('font', 'base');
    overflow-x: hidden;
}

/// Default typography
h1,
h2,
h3,
h4,
h5,
h6 {
    @include apply-utility('font', 'serif');
    line-height: 1.1;
    max-width: 30ch;
    letter-spacing: 0.3px;
    font-style: italic;
}

.font-serif {
    letter-spacing: 0.3px;
}

a,
a>span,
button,
.button,
 ::after,
 ::before {
    color: currentColor;
    transition: all 0.4s ease-in-out;
}

p,
a,
span,
label,
button {
    // max-width: 70ch;
    @include apply-utility('font', 'base');
}

p {
    line-height: 1.6;
    font-weight: 400;
}

svg {
    width: 1em;
    height: 1em;
    display: inline-block;
}

label {
    &.required {
        padding-left: 1.25em;
        position: relative;
        &:before {
            content: '*';
            position: absolute;
            left: 0;
            font-size: 1em;
            color: get-color('error')
        }
    }
}

.parallelogram {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    span {
        display: inline-block;
        -webkit-transform: skew(30deg);
        transform: skew(30deg);
    }
}

// Interactive states
:focus {
    outline: 1px solid get-color('tertiary');
    outline-offset: 0.25rem;
}

a:hover {
    text-decoration: underline;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Animation
@keyframes animateLeft {
    0% {
        left: 150%
    }
    100% {
        left: 25%
    }
}

@keyframes animateOpacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

// Import utilities
@import 'utilities/flow';
@import 'utilities/split-pair';
@import 'utilities/flex';
@import 'utilities/region';
@import 'utilities/wrapper';
// Import blocks
@import 'blocks/accordion';
@import 'blocks/brand';
@import 'blocks/button';
@import 'blocks/field';
@import 'blocks/checkbox';
@import 'blocks/radiobutton';
@import 'blocks/select';
@import 'blocks/search';
@import 'blocks/logos';
@import 'blocks/media';
@import 'blocks/nav';
@import 'blocks/tile';
@import 'blocks/heading';
// Import compositions
@import 'compositions/hero';
@import 'compositions/intro';
@import 'compositions/sign-up';
@import 'compositions/tiles';
@import 'compositions/login';
// Import blackbaud
@import 'blackbaud/designation-search';